simple api returns if a user has age verified

Input !~ email
output bool
